@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: BpgArial;
        font-weight: normal;
        src: url("/assets/fonts/BpgArial.ttf") format("TTF");
    }
}

.custom-shadow {
    letter-spacing: 0.0625rem;
    font-variant-caps: all-petite-caps;
}

.custom-shadow:hover {
    text-shadow: 0.125rem 0.07rem 0.0625rem #FAF9F6, 0.1875rem 0.0625rem 0.0625rem black;
}