@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: BpgArial;
        font-weight: normal;
        src: url("/assets/fonts/BpgArial.ttf") format("TTF");
    }
}

.custom-shadow {
    letter-spacing: 0.0625rem;
    font-variant-caps: all-petite-caps;
}

.custom-shadow:hover {
    text-shadow: 0.125rem 0.07rem 0.0625rem #FAF9F6, 0.1875rem 0.0625rem 0.0625rem black;
}

input[type='radio'] {
    margin-right: 0.875rem;
    width:1.25rem;
    height:1.25rem;
    position: relative;
    top: 0.25rem;
    accent-color: #232323;
}

.inverse{
    animation-direction: reverse;
}

.submit {
    font-variant-caps: all-petite-caps;
    font-size: 1.625rem;
}

.thankyou{
    font-variant-caps: all-petite-caps;
    font-size: 5.625rem;
    letter-spacing: 1.2rem;

}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none;  
}